@model IEnumerable<WebApplication1.Models.Filme>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano_Lancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano_Lancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produtora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
